[Unit]
Description=shoplist service
Wants=network-online.target
After=network.target

[Service]
Type=simple
User=pi     
Group=pi
WorkingDirectory=/root/shoplist
ExecStart=/root/shoplist/shoplist-telegram-bot
StandardOutput=file:/root/shoplist/shoplist.log
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
