[Unit]
Description=shoplist service
Wants=network-online.target
After=network.target

[Service]
Type=simple
User=pi     
Group=pi
WorkingDirectory=/home/pi/SHOPLIST/
ExecStart=/home/pi/SHOPLIST/shoplist-telegram-bot
StandardOutput=file:/home/pi/shoplist.log
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
